@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #0d8c8d;
    --bright-color: #f0f0f0;
}

*{
    font-family: 'poppins', sans-serif;   
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: #0d8c8d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #0d8c8d;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: .4s ease;
}

.navigation a:hover{
    color: rgb(11, 65, 65);
}
.sidebar-toggle{
    display: none;
    font-size: 2rem;
    padding: 0.3rem;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    transition: 0.3s;
}
.sidebar-toggle:hover{
    transform: rotate(90deg);
    color: black;
}
/* Sidebar */
.sidebar{
    display: block;
    position: fixed;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: rgb(11, 65, 65, 0.9);
    z-index: 1000;
    transition: 0.5s;
}
.sidebar.show-sidebar{
    right: 0;
}
.sidebar .sidebar-header button{
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    background-color: white;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    display: grid;
    place-items: center;
}
.sidebar .sidebar-header button i {
    transition: scale 0.3s;
    color: var(--primary-color);
}
.sidebar .sidebar-header button:hover i{
    scale: 1.1;
}
.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    width: 100%;
}
.sidebar ul li{
    width: 100%;
    text-align: center;
    padding: 1rem;
    transition: background-color 0.3s;
} 
.sidebar ul li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
}
.sidebar ul li:hover{
    background-color: var(--bright-color);
} 
.sidebar ul li:hover a{
    color: var(--primary-color);
} 
section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./images/background-vector.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right bottom;
}

.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #0d8c8d;
    font-size: 2.8em;
    font-weight: 600;
}

.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px ;
    margin-bottom: 30px;

}

.main-btn{
  color: #fff;
  background-color: #0d8c8d;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;  
  transition: 0.7s ease ;
}

.main-btn:hover{
    background-color: #096464;
    transform: scale(1.1);
}

.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.4s ease;
}

.social-icons a:hover{
    color: #9ed3d3;
    
}
.title{
  display: flex;
  justify-content: center; 
  color: #0d8c8d; 
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    color: #0d8c8d;
    font-size: 6em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: #043030;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects{
    background-color: #070707;
}

.projects .content{
    margin-top: 30px;
    width: 100%;
}

.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
    cursor: pointer;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.85;
}

.project-image img{
    width: 100%;
}
.project-image {
    width: 100%;
    transition: 0.7s ease;
}

.project-info{
    padding: 1em ;
}

.project-category{
    font-size: 0.8em;
    color: #000;

}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details{
    text-decoration: none;
    color: #0d8c8d;
    font-weight: 500;
    font-size: 0.9em;
}

.contact .icon{
  font-size: 4.5em;  
}

.contact .info h3{
    color: #000;
}

.contact .info p{
    font-size: 1.5em;
}

.footer{
    background-color: #070707;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.footer-title{
   font-size: 1.3em;
   font-weight: 600;
}

.footer-title span{
    color: #0d8c8d;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 13px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media(max-width:641px){
    body{
        font-size: 12px;
    }
    .sidebar-toggle{
        display: block;
    }
    .navigation{
        display: none;
    }
    .main{
        justify-content: center;
    }
    .main div{
        text-align: center;
    }
}

@media(max-width:300px){
    body{
        font-size: 10px;
    }

    
}

