@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* General Rules */
:root{
    --primary-color: #865DFF;
    --bright-color: #f1eefb;
    --main-color: #865DFF;
    --dark-color:#191825;
    --light-color: #F3F0EE;
    --accent1: #E384FF;
    --accent2: #A69892;
    --card-bg: #2e293d;
}
body{
    background-color: var(--dark-color) !important;
}
/* body.show-sidebar section{
    transform: translateX(100px);
} */
.container{
    max-width: 1120px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}
*, *::after, *::before{
    font-family: 'poppins', sans-serif;   
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
/* Header and navigation rules */
header{
    background-color: #f0f0f0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 15px 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: var(--dark-color);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: .4s ease;
}

.navigation a:hover{
    color: var(--main-color);
}
/* .sidebar-toggle{
    display: none;
    font-size: 2rem;
    padding: 0.3rem;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    transition: 0.3s;
}
.sidebar-toggle:hover{
    transform: rotate(90deg);
    color: black;
} */
/* Sidebar */

 .sidebar-title{
    position: fixed;
    top: 1px;
    left: 1px;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 1005;
}
.sidebar-title .sidebar-toggle{
    padding: 30px 15px;
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    justify-content: center;
    background-color: var(--main-color);
    cursor: pointer;
    border: none;
}

/* .sidebar-title .sidebar-toggle:hover span{
    background-color: #ded4ff;
} */
.sidebar-title h1{
    color: white;
    font-weight: 300;
    font-size: 25px;
    max-width: 100px;
    line-height: 1;
}
.sidebar-toggle span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bright-color);
    transition: all 0.5s;
}
.sidebar-title.active {
    /* transform: translateX(100px); */
}
.sidebar-title.active .sidebar-toggle span:nth-child(2){
    background-color: transparent;
}
.sidebar-title.active .sidebar-toggle span:nth-child(1){
    transform: rotate(45deg) translateY(12px);
}
.sidebar-title.active .sidebar-toggle span:nth-child(3){
    transform: rotate(-45deg) translateY(-12px);
}
.sidebar{
    display: block;
    position: fixed;
    left: -100%;
    width: 350px;
    height: 100%;
    background-color: var(--main-color);
    z-index: 1000;
    transition: 0.5s;
}
.sidebar .links{
   margin-top: 150px;
}
.sidebar.show-sidebar{
    left: 0;
}
.sidebar .sidebar-header button{
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    background-color: white;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    display: grid;
    place-items: center;
}
.sidebar .sidebar-header button i {
    transition: scale 0.3s;
    color: var(--primary-color);
}
.sidebar .sidebar-header button:hover i{
    scale: 1.1;
}
.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    width: 100%;
}
.sidebar ul li{
    width: 100%;
    text-align: center;
    padding: 1rem;
    transition: background-color 0.3s;
} 
.sidebar ul li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
}
.sidebar ul li:hover{
    background-color: var(--bright-color);
} 
.sidebar ul li:hover a{
    color: var(--primary-color);
} 
section{
    padding: 100px 0;
}
/****** Social icons  *****/
.social-icons{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 1000;
}
.social-icons a {
    transition: all 0.3s;
}
.social-icons i {
    font-size: 25px;
    color: var(--main-color);
    transition: all 0.3s;
    position: relative;
}
.social-icons a:hover i{
    color: var(--bright-color);
}
.social-icons a:hover{
    transform: translateX(-5px);
}
/*** End Social icons  ***/
/* End Header and navigation rules */
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url(./images/magicpattern2.png);
    /* background-color: var(--dark-color); */
    /* background: url(./images/background-vector.jpg) no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    background-position: right bottom;
}


.main h2{
    color: var(--bright-color);
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: var(--main-color);
    font-size: 2.8em;
    font-weight: 600;
}

.main h3{
    color: var(--bright-color);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px ;
    margin-bottom: 30px;
}

.main-btn{
    color: #fff;
    background-color: var(--main-color);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;  
    transition: 0.7s ease ;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* transform: translateX(-1000px); */
}
.main-btn p{
    margin-right: 10px;
}
.main-btn:hover{
    transform: scale(1.1);
}

.arrow-icon{
    position: relative;
    font-size: 25px;
    animation-name: slideDown2;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    transition: 0.3s;
    animation-fill-mode: both;
}

.title{
  display: flex;
  justify-content: center; 
  color: var(--main-color); 
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.skills-content{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 25px;
}
.skill-card{
    background-color: #2e293d;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    transition: 0.7s ease;
    text-align: center;
    padding: 5px;
    position: relative;
    overflow: hidden;
}
.skill-card .icon{
    display: grid;
    place-items: center;
}
.skill-img{
    height: 150px;
    width: 100%;
    object-fit: contain;
    object-position: center;
    /* border: 1px solid red */
    padding: 15px 0;
}
.skill-card .skill-info{
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: translateY(-100%);
    /* background-color: rgb(13, 140, 141, 0.8); */
    background-color: var(--main-color);
}
.skill-card:hover .skill-info{
    transform: translateY(0);
}

.skill-info h3{
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    opacity: 1;
    
}
.skill-card:hover .skill-info h3{
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

/* .card{
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    text-align: center;
} */

.card:hover{
    transform: scale(1.1);
}

.icon{
    color: #0d8c8d;
    font-size: 6em;
    text-align: center;
}


.projects{
    background: url(./images/magicpattern2.png);
    /* background-color: var(--dark-color); */
    /* background: url(./images/background-vector.jpg) no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    background-position: right bottom;
}
.projects-content{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}


.project-card{
    background-color: var(--card-bg);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    min-height: 14em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
    position: relative;
}

.project-card:hover .project-info *{
    animation-name: slideDown3;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-timing-function: normal;
    animation-fill-mode: both;
}

.project-card:hover .project-image{
    opacity: 0.85;
}
.project-image {
    width: 100%;
    transition: 0.7s ease;
    height: 100%;
}
.project-image img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.project-card:hover .project-image image{
    object-fit: contain;
}
.project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(134, 93, 255, 0.8);
    transform: translateX(-100%);
    transition: all 0.3s;
}
.project-card:hover .project-info{
    transform: translateX(0);
}
.project-category{
    font-size: 16px;
    color: var(--bright-color);
    font-weight: 300;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    margin-top: 10px;
    color: var(--bright-color);
}
.project-info a{
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    color: var(--bright-color);
}
.project-info a:hover {
    background-color: var(--bright-color);
}
.project-info a:hover {
    background-color: var(--bright-color);
    color: var(--main-color);
}
.project-info a i{
    font-size: 25px;
    transition: all 0.3s;
}
.project-info a:hover i{
    transform: scale(1.1);
    color: var(--main-color);
}
.project-info span{
    text-align: center;
}
/****** Contact Section ******/
.contact .container{
    /* border: 1px solid red; */
}
.contact .content .form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.contact .content .form-field textarea{
    min-height: 250px;
    resize: none;
}       

.contact .content .form-field :is(input, textarea){
    padding: 10px 5px;
    outline: none;
    width: 100%;
    border: 1px solid var(--bright-color);
    background-color: transparent;
    color: var(--bright-color);
    caret-color: var(--main-color);
    transition: border-color 0.3s;
    text-indent: 5px;
}
.contact .content .form-field :is(input, textarea):focus{
    border-color: var(--main-color);
}
.contact .content .message-field{
    grid-column: 1/3;
}
.submit-button{
    padding: 15px 40px;
    background-color: var(--main-color);
    font-weight: 700;
    margin-top: 20px;
    transition: all 0.3s;
    cursor: pointer;
}
.submit-button:hover{
    color: var(--bright-color);
    transform: scale(1.1);
}
/*** End Contact Sectionn ***/

/****** Footer  ******/
.footer{
    color: var(--bright-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.footer-title{
   font-size: 1.3em;
   font-weight: 600;
}

.footer-title span{
    color: var(--main-color);
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 13px 0 0;
}
/*** End Footer ***/
@media (max-width:1023px){
    .container{
        max-width: 1000px;
    }
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .social-icons{
        flex-direction: row;
        top: initial;
        bottom: 5px;
        gap: 12px;
    }
    .social-icons a:hover{
        transform: translateY(-5px);
    }
    .social-icons i {
        font-size: 20px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
  /*   .content{
        flex-direction: column;
        align-items: center;
    } */
    .skills-content{
        grid-template-columns: repeat(3, 1fr);
     }
     .projects-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:641px){
    .container{
        max-width: 640px;
    }
    body{
        font-size: 12px;
    }
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .sidebar-toggle{
        display: block;
    }
    .navigation{
        display: none;
    }
    .main{
        justify-content: center;
    }
    .main div{
        text-align: center;
    }
    .main-btn{
        margin-left: auto;
        margin-right: auto;
    }
    .skills-content{
        grid-template-columns: repeat(2, 1fr);
     }
     .projects-content{
        grid-template-columns: repeat(1, minmax(150px ,400px));
        justify-content: center;
    }
    .sidebar{
        width: 100%;
    }
}

@media(max-width:300px){
    .container{
        max-width: 290px;
    }
    body{
        font-size: 10px;
    }

    
}

@keyframes slideDown {
    0%{
        transform: translateY(-100%);
        color: var(--main-color);
    }
    100%{
        transform: translateY(0%);
        color: var(--bright-color);
    }
}
@keyframes slideDown2 {
    0%{
        transform: translateY(-30%);
    }
    90%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-30%);
    }
}
@keyframes slideDown3 {
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);

    }
}